@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-gryffindor-red: #641e1e;
  --color-wizard-gold: #c39a1c;
  --color-ink-tertiary: #3d2f22;

  --ui-color-primary-50: #fef2f2;
  --ui-color-primary-100: #fee2e2;
  --ui-color-primary-200: #fecaca;
  --ui-color-primary-300: #fca5a5;
  --ui-color-primary-400: #f87171;
  --ui-color-primary-500: var(--color-gryffindor-red);
  --ui-color-primary-600: #4a1616;
  --ui-color-primary-700: #3b1111;
  --ui-color-primary-800: #2d0d0d;
  --ui-color-primary-900: #1f0909;
  --ui-color-primary-950: #0f0404;

  --ui-color-neutral-50: var(--color-white-50);
  --ui-color-neutral-400: var(--color-grey-400);
  --ui-color-neutral-500: var(--color-grey-500);
  --ui-color-neutral-900: var(--color-white-900);
  --ui-color-neutral-950: var(--color-white-950);

  --color-grey-500: #717679;
  --color-white-400: #f3f3ef;
  --color-white-500: #efeee9;
}

@layer base {
  /* Dynamic Backgrounds using your White/Grey scales */
  :root {
    --ui-bg: var(--color-white-400); /* Light: Parchment */
    --ui-text: var(--color-ink-tertiary);
  }

  .dark {
    --ui-bg: #0b101b; /* Dark: Ministry Blue */
    --ui-text: var(--color-white-400);
  }
}

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --ui-primary: var(--color-gryffindor-red);
  --ui-secondary: var(--color-wizard-gold);
  --ui-tertiary: var(--color-ink-tertiary);

  --color-app-bg: var(--app-bg);
  --color-app-surface: var(--app-surface);
  --color-app-border: var(--app-border);
  --color-app-text: var(--app-text-main);
  --color-app-text-dim: var(--app-text-dim);

  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #717679;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
  --color-grey-950: #030712;

  --color-white-50: #ffffff;
  --color-white-100: #fefefe;
  --color-white-200: #fcfcfb;
  --color-white-300: #f7f7f5;
  --color-white-400: #f3f3ef;
  --color-white-500: #efeee9;
  --color-white-600: #d5d4cf;
  --color-white-700: #a8a7a3;
  --color-white-800: #7b7a77;
  --color-white-900: #4e4d4b;
  --color-white-950: #272625;
}
